.contacts-div {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

img {
  margin-right: 20px;
}

.contact-btn {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.contact-btn:hover {
  background-color: #00468b;
  border: 1px solid #00468b;
}
